<mat-form-field appearance="outline" [subscriptSizing]="hint() ? 'dynamic' : 'fixed'"
    [hintLabel]="hint() ?? ''">
    <mat-label>{{ label() }}</mat-label>
    <mat-icon matPrefix>{{ prefixIcon() }}</mat-icon>
    <input matInput [type]="hide() ? 'password' : 'text'" [formControl]="control()"
        [attr.autocomplete]="autocomplete()" />
    @if (toggleable()) {
    <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()"
        [attr.aria-label]="hide() ? 'Show password' : 'Hide password'">
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    }
    @if (control().hasError('required')) {
    <mat-error>{{ requiredMessage() }}</mat-error>
    } @else if (control().hasError('minlength')) {
    <mat-error>Password must be at least 8 characters</mat-error>
    } @else if (control().hasError('passwordStrength')) {
    <mat-error>Include uppercase, lowercase, number &amp; special character</mat-error>
    }
</mat-form-field>
